<h3>About PBO</h3>
<p>instruments in the hands of our players make the music come alive. Built at the time Bach and Handel were composing, or built today by contemporary craftsmen to historical designs, baroque period instruments include 17th-century versions of modern orchestral equivalents (violins, cellos, oboes) as well as lutes, viols, harpsichords, sackbuts, and other instruments you won’t hear at the symphony. The music of the era sparkles on these instruments. This fresh and lively historic soundscape makes the PBO experience unlike any other.</p>
<br>
<footer>-from Portland Baroque Orechstra Website <a href="http://pbo.org/">http://pbo.org/</a></footer>
