<nav class="navbarb">
  <div class="container">
    <div class="navbar-header" routerLink="">
      <img class="logo" src="img/logo_mini.png" alt="">
    </div>
    <div class="navright">
      <a routerLink="about">ABOUT</a>
    </div>
  </div>
</nav>
<div class="container main">
  <div class="headerimg">
  </div>
  <h1>Portland Baroque Orchestra Musicians</h1>
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
