/* You can add global styles to this file, and also import other style files */
.navbarb {
  height: 80px;
}

.navbar-header {
  height: 80px;
}

.navright {
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navright a {
  font-size: 1.2em;
  color: #756231;
  transition: all .3s;
}

.navright a:hover {
  color: #ab8f48;
  text-decoration: none;
}

.logo {
  width: auto;
  height: 100%;
}

.main {
  padding-top: 30px;
}

.headerimg {
  width: 100%;
  height: 300px;
  background-image: url(img/header.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  margin-bottom: 30px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 15px;
  padding-left: 0;
  background-color: #DDD0AF;
}

.footer a {
  color: #756231;
  font-weight: bold;
  transition: all .3s;
}
.footer a:hover {
  color: #ab8f48;
  text-decoration: none;
}
